.secction-slogan{
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 500px; 

  
  background-image: url("../../assets/canada.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

  justify-content: center;
  align-items: center;
}

.secction-slogan h1{
  
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px;
}

.secction-slogan p{
    font-size: 30px;
    font-weight: 200;
    font-family: sans-serif;
    color: white;
    padding: 10px;
  }